


<footer class="bottom">
    <div class="container">
        <div class="title">
            <h2>Explore the BBC</h2>
        </div>
        <div class="row">
            
                <div class="col-md-2">
                
                    <div class="menu-list">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Future</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Culture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Future</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">Reel</a></li>
                            <li><a href="#">TV</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">Worklife</a></li>
                            <li><a href="#">Weather</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Sounds</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <hr>
        <div class="row">
            <div class="terms">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">About the BBC</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Accesiblitity Help</a></li>
                    <li><a href="#">Parental Guidance</a></li>
                    <li><a href="#">Contact the BBC</a></li>
                    <li><a href="#">Get Personalised NewsLetters</a></li>
                    <li><a href="#">Advertise with us</a></li>
                    <li><a href="#">AdChoices/ Do Note sell My Info</a></li>
                </ul>
                <div class="para">
                    <p>Copyright &copy;<strong>2020 BBC</strong>. The BBC is not responsible for the content of external sites.<strong>Read about our approach to external linking.</strong></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
<script src="/js/pizza.js"></script>
</body>
</html>
