<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC</title>
    <link rel="shortcut icon" href="/images/logo-navbar-and-logo-tab-logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/bootstrap-social.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home"><img src="/images/logo-navbar-and-logo-tab-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="toggler-btn">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

           <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link sign" href="/sign"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sign" href="/logout"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Sign out</a>
          </li>
           </ul>
           
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sport">Sport</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
           
              



          </ul>
        </div>
    </div>
   
  </nav>
<body>
    



