.topsd{
    margin: 11rem 0 2rem 0;
    padding-top: 8rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.47)), url(/images/josh-appel-mH80vctfTjQ-unsplash-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 48rem;
}