.nav{
    &__button{
        position: absolute;
        right: 2rem;
    }
    &__icon{
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-main;
    }
}

.topsd{
    &__button{
        margin-top: 2rem;
    }
    &__link{
        font-size: 1rem;
        color: #fff;
        background-color: $color-main;
        padding: .7rem 1.2rem;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    &__space{
        margin-right: 1rem;
    }
}