<%- include('partials/homeHeader') %>
<section class="topsd">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="topsd__content">
                    <h1>The Pandy Box Is For you!</h1>
                    <p>
                        Through these difficult times people's mental health is at risk due to Covid-19. 
                        The Pandy Company will provide our customers with a gateway to feeling happy and comfortable. 
                        It is our pledgor to introduce you to the Pandy Box!
                    </p>
                    <div class="topsd__button">
                        <a href="#" class="topsd__link topsd__space" role="button">Watch Now</a>
                        <a href="#" class="topsd__link" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features__content text-center">
                    <div class="features__iconB">
                        <svg class="features__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-gift"></use>
                         </svg>
                    </div>
                   <h3>
                       Give a gift card to Friends and family members
                   </h3>
                   <p>
                    The Pandy Box can come in a customized design that our client provides us. Why not give your family members, friends, and co-workers a Pandy Box that will brighten their day. We offer discount 
                    for holidays and customer can also purchase a gift card.
            
                   </p>
                   <div class="topsd__button">
                    <a href="#" class="topsd__link" role="button">Learn More</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features__content text-center">
                    <div class="features__iconB">
                        <svg class="features__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-envelope"></use>
                         </svg>
                    </div>
                   <h3>
                       Online shipping and Mail-in
                   </h3>
                   <p>
                    We offer both options of ordering your Pandy Box: mail-in orders or order online. 
                    We know that some people might not have the right technology to order online so 
                    the Pandy team made it easier to purchase a Pandy Box without the complexity of technology
            
                   </p>
                   <div class="topsd__button">
                    <a href="#" class="topsd__link" role="button">Learn More</a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features__content text-center">
                    <div class="features__iconB">
                        <svg class="features__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-heart"></use>
                         </svg>
                    </div>
                   <h3>
                       Live life & enjoy
                   </h3>
                   <p>
                    The Pandy team hopes everybody enjoys their Pandy product. We also have a comment section where you can leave 
                    a comment about our services and for complaints you can reach us at <span>(480) 489-4791</span>. Thank you for your interest  in our product.
                   </p>
                   <div class="topsd__button">
                    <a href="#" class="topsd__link" role="button">Learn More</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="phone">
    <div class="contianer">
    </div>
</section>
<section class="item">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="item__content">
                    <div class="item__images">
                        <img src="/images/rosebox-BFdSCxmqvYc-unsplash-min.jpg" alt="rose">
                    </div>
                    <h2>Our Product is For You!</h2>
                    <p>
                        The Pandy Box is a box that provides uplifting quotes and we provide  a custom mask in each box. The box customization is available as long as the customers provide the designs. We have Pandy Boxes for Kids'
                        from 5-12, teens from 13-19, young adults from 20-39, middle adults from 40-59 and seniors from 60 and so on.
                    </p>
                    <div class="topsd__button">
                        <a href="#" class="topsd__link" role="button">Learn More</a>
                       </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item__content">
                    <div class="item__images">
                        <img src="/images/rizki-ramadhan-1ZdE_X5Hz3c-unsplash.jpg" alt="quotes">
                    </div>
                    <h2>Motivational quotes</h2>
                    <p>
                        There is one motivational quote per day for a month of your choosing (28,30 or 31). These quotes can come in different colors. The quotes will be inside of the Pandy Box, and all you have to do is pull out the quotes inside the box. In addition to protecting yourself from Covid-19, we will provide 
                        our customers one mask for each box.
                    </p>
                    <div class="topsd__button">
                        <a href="#" class="topsd__link" role="button">Learn More</a>
                       </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item__content">
                    <div class="item__images">
                        <img src="/images/alex-mecl-qKAAc8hV_zY-unsplash-min.jpg" alt="alex">
                    </div>
                    <h2>We care about your product conditions</h2>
                    <p>
                        The Pandy team will package and ship your product as carefully as possible. Our work environment is a 
                        healthy working space. Our employees mental health and individual rights are the two main goals that we are focusing on in our work space. Discrimination in any platform is not tolerated at the Pandy Company.

                    </p>
                    <div class="topsd__button">
                        <a href="#" class="topsd__link" role="button">Learn More</a>
                       </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>