<%- include('partials/header') %>

<div class="july">
    <section class="speech">
        <div class="container">
            <div class="title">
                <h2>Welcome to BBC.com</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="images">
                            <div class="media-title">
                                <h3>Fresh wave to calls to scrap a team moniker long-criticised as  racist</h3>
                            </div>
                            <div class="para">
                                <p>
                                    The Washington DC-based team has faced years of pressure over a name seen as offensive to Native American
                                </p>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">United States</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="content">
                                    <div class="ima">
                                        <div class="max">
                                            <h3>Canda Armed Forces member faces 22 charges</h3>
                                        </div>
                                        <div class="stext">
                                            <a href="#" class="us">United States</a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content">
                                    <div class="black">
                                        <div class="max">
                                            <h3>White couple charges with assault over threats</h3>
                                        </div>
                                        <div class="stext">
                                            <a href="#" class="us">United States</a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="content">
                                    <div class="films">
                                        <div class="max">
                                            <h3>The best films of 2020 so far</h3>
                                        </div>
                                        <div class="stext">
                                            <a href="#" class="us">United States</a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content">
                                    <div class="power">
                                        <div class="max">
                                            <h3>Canda Armed Forces member faces 22 charges</h3>
                                        </div>
                                        <div class="stext">
                                            <a href="#" class="us">United States</a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="title">
                <h2>News</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/China-appoint-hard-line-charge-image.jpg">
                        </div>
                        <div class="title">
                            <h3>Pro-democracy books pulled from Hong Kong libraties</h3>
                        </div>
                        <div class="para">
                            <p>
                                Prominent activist Joshu Wong says measure is "one step away from actual book banning"
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">China</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/England-lockdown-easing-charge-image.jpg">
                        </div>
                        <div class="title">
                            <h3>Vogue Portugal defends mental illness cover</h3>
                        </div>
                        <div class="para">
                            <p>
                                The magazine says it was trying to raise awareness after it was accused of using dystopain imagery
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">Europe</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/kayne_West_for_us_president.jpg">
                        </div>
                        <div class="title">
                            <h3>Kanye West again says he will run for president</h3>
                        </div>
                        <div class="para">
                            <p>
                                The US rapper claims that he has entered the 2020 race but it is unclear if he has actually registered
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">us & Canda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sport">
        <div class="container">
            <div class="title">
                <h2>Sport</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/villarreal-v-Barcelona-image.jpg">
                        </div>
                        <div class="title">
                            <h3>Villarreal v Barcelona</h3>
                        </div>
                        <div class="para">
                            <p>
                                Follow live text updates as Barcelona look to keep their La Liga title hopes alive in Villarreal
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">European Football</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/Liverpool-images.jpg">
                        </div>
                        <div class="title">
                            <h3>Liverpool can't think of record - Klopp</h3>
                        </div>
                        <div class="para">
                            <p>
                              Jurgen Kloop says Liverpool cannot focus on breaking recards after the Premier League champions made it 17 wins
                              from 17 home games this season by beating Aston Villa
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">Football</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/message.jpg">
                        </div>
                        <div class="title">
                            <h3>Message highlight 'bigger issue'</h3>
                        </div>
                        <div class="para">
                            <p>
                                Mercedes' Lewis Hamilton says whether Formule 1 driver take the knee is a minor issue in the context of the fight
                                against racism across the world
                            </p>
                        </div>
                        <div class="stext">
                            <a href="#" class="us">formula 1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reel">
        <div class="container">
            <div class="title">
                <h2>REEL</h2>
            </div>
            <div class="vists">
                <a href="#" class="look">Visit Reel<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="para">
                <p>
                    The most amazing videos from the BBC

                </p>
               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/medieval-disaster-that-images.jpg">
                            </div>
                            <div class="card-title">
                                <h3>The medieval disaster that reset the world</h3>
                            </div>
                        </div>  
                    </div>
                   
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/Was-christopher-columbus-images.png">
                            </div>
                            <div class="card-title">
                                <h3>Was King Tut hiding another identity?</h3>
                            </div>
                        </div>  
                    </div>
                   
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/nuclear-blasts'-images.jpg">
                            </div>
                            <div class="card-title">
                                <h3>The sunstance that can withstand 75 nuclear blasts'</h3>
                            </div>
                        </div>  
                    </div>
                   
                </div>
            </div>
           
        </div>
    </section>
    <section class="editor">
        <div class="container">
            <div class="title">
                <h2>Editor's Picks</h2>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="content">
                        <div class="images">
                            <div class="title">
                                <h3>The world's greatest space mission</h3>
                            </div>
                            <div class="para">
                                <p>
                                    Voyager 1 and 2's 40-year journey into the unknown
                                </p>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">Future</a>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/what-the -future-high-street-images.jpg">
                                        </div>
                                        <div class="card-title">
                                            <h3>What's the future of the High Street?</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                    What do High Streets look in a post-pandemic world?
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">Worklife</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/Why-Basque-food-taste-so-good-imgaes.jpeg">
                                        </div>
                                        <div class="card-title">
                                            <h3>Why Basque food taste so good</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                    The world is starting to take notice
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">Travel</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/The-best-films-image.jpg">
                                        </div>
                                        <div class="card-title">
                                            <h3>The best films of 2020 so far</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                   Including Da Bloods, The Hunt and The Assistant
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">culture</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/can-you-train-yourself-like-foods-you-hate-images.jpg">
                                        </div>
                                        <div class="card-title">
                                            <h3>Can you train yourself to like foods you hate?</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                    Why does the same food bring about such different responses in different people?
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">Food</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/Spain-and-France-quarantine-image.jpg">
                                        </div>
                                        <div class="card-title">
                                            <h3>Spain and France on England's quarantine-free list</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                    Arrvials from Germany and Italy will also no longer need to isolate on either leg of the journey.
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">UK</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="content">
                                        <div class="iga">
                                            <img src="/images/what-the -future-high-street-images.jpg">
                                        </div>
                                        <div class="card-title">
                                            <h3>What's the future of the High Street?</h3>
                                        </div>
                                       
                                            <div class="para">
                                                <p>
                                                    What do High Streets look in a post-pandemic world?
                                                </p>
                                            </div>
                                       
                                            <div class="stext">
                                                <a href="#" class="us">Worklife</a>
                                            </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <aside class="col-md-2">
                    <div class="gum">
                        <img src="/images/bbc_news_logo.png">
                    </div>
                    <div class="gum">
                        <img src="/images/Black-live-Matter-vs-why-this-4-july.jpg">
                        <p>The Black live Movement</p>
                    </div>
                    <div class="gum">
                        <img src="/images/Redskin-agree-image.jpg">
                        <p>Redskins agree review of controversial name</p>
                    </div>
                    <div class="gum">
                        <img src="/images/Air-france-image.jpg">
                        <p>Air France set to cut more than 7,500 jobs</p>
                    </div>
                    <div class="gum">
                        <img src="/images/tesco-demands-image.jpeg">
                        <p>Tesco demands supplier cuts in discount battle</p>
                    </div>
                    <div class="gum">
                        <img src="/images/UK-take-400m-image.jpg">
                        <p>UK takes &#65505;400m stake in satellite firm OneWeb</p>
                    </div>
                    <div class="gum">
                        <img src="/images/Japan-Us-to-extradite-image.jpg">
                        <p>Japan asks Us to extradite two men over Ghosn case</p>
                    </div>
                 </aside>
                

                 
            </div>
          
        </div>
    </section>

    <section class="planet">
        <div class="container">
            <div class="title">
                <h2>Future Planet</h2>
            </div>
            <div class="future">
                <a href="#" class="visit">Visit Future Planet<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="para">
                <p>
                    Solutions for a sustainable world
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/The-most-polluted-city-images.jpeg">
                            </div>
                            <div class="title">
                                <h3>The most polluted city in Europe</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/The-winding-maze-that-clean-Hong.jpg">
                            </div>
                            <div class="title">
                                <h3>The winding maze that cleans Hong Kong</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="content">
                            <div class="images">
                                <img src="/images/The-mass-experiment-for-the-climate.jpg">
                            </div>
                            <div class="title">
                                <h3>A 'mass experiment' for the climate</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="technology">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="title">
                            <h2>technology of Business</h2>
                        </div>
                        <div class="images">
                            <img src="/images/organically-african.jpg">
                        </div>
                        <div class="stext">
                            <a href="#" class="us">Worklife</a>
                        </div>
                        <div class="para">
                            <p>Finding the 'invisible' millions who are not on<br> maps</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <div class="title">
                            <h2>Designed</h2>
                        </div>
                        <div class="images">
                            <img src="/images/How-knitting-became-images.jpg">
                        </div>
                        <div class="stext">
                            <a href="#" class="us">Culture</a>
                        </div>
                        <div class="para">
                            <p>How knitting became cool</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured">
        <div class="container">
            <div class="title">
                <h2>Feature video</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="content text-center">
                        <div class="video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/FRfRZsUyxhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
           <div class="row">
            <div class="container">
                <ul class="nav-tabs nav">
                    <li class="nav-item">
                        <a href="#recommended" class="nav-link" data-toggle="tab">Rocommended</a>
                    </li>
                    <li class="nav-item">
                        <a href="#mostWatch" class="nav-link" data-toggle="tab">Most Watched</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Latest" class="nav-link" data-toggle="tab">Latest</a>
                    </li>
                </ul>
                <div class="tab-content container">
                    <div class="tab-pane active" id="recommended">
                       
                            <div class="row">
                              
                                    <div class="col-md-2">
                                        <div class="images">
                                            <img src="/images/Man-arrested-after-images.jpg">
                                        </div>
                                    </div>
                                 <div class="col-md-2" >
                                     <div class="content">
                                         <div class="para">
                                             <p>
                                                Man pulls gun on supporter of Black Lives Matter mural in Bay Area, police say
                                             </p>
                                         </div>
                                         <div class="stext">
                                            <a href="#" class="us">US</a>
                                        </div>
                                     </div>
                                 </div>

                                 <div class="col-md-2">
                                    <div class="images">
                                        <img src="/images/applause-for-NHS-on-72nd-images.jpg">
                                    </div>
                                </div>
                             <div class="col-md-2" >
                                 <div class="content">
                                     <div class="para">
                                         <p>
                                            Applause for NHS on 72nd anniversary
                                         </p>
                                     </div>
                                     <div class="stext">
                                        <a href="#" class="us">UK</a>
                                    </div>
                                 </div>
                             </div>

                             <div class="col-md-2">
                                <div class="images">
                                    <img src="/images/The-story-socially-distant-wedding-images.jpg">
                                </div>
                            </div>
                         <div class="col-md-2" >
                             <div class="content">
                                 <div class="para">
                                     <p>
                                       The story of a socially distant webbing
                                     </p>
                                 </div>
                                 <div class="stext">
                                    <a href="#" class="us">UK</a>
                                </div>
                             </div>
                         </div>
                            </div>
                        
                    </div>
                    <div class="tab-pane" id="mostWatch">
                       
                        <div class="row">
                          
                                <div class="col-md-2">
                                    <div class="images">
                                        <img src="/images/Ready-for-the-total-solar-images.jpg">
                                    </div>
                                </div>
                             <div class="col-md-2" >
                                 <div class="content">
                                     <div class="para">
                                         <p>
                                           Ready for the total solar eclipse
                                         </p>
                                     </div>
                                     <div class="stext">
                                        <a href="#" class="us">US & Canada</a>
                                    </div>
                                 </div>
                             </div>

                             <div class="col-md-2">
                                <div class="images">
                                    <img src="/images/Great-Mosque-of-al-Nuri-destoryed-images.jpg">
                                </div>
                            </div>
                         <div class="col-md-2" >
                             <div class="content">
                                 <div class="para">
                                     <p>
                                        Great Mosque of al-Nuri destoryed
                                     </p>
                                 </div>
                                 <div class="stext">
                                    <a href="#" class="us">UK</a>
                                </div>
                             </div>
                         </div>

                         <div class="col-md-2">
                            <div class="images">
                                <img src="/images/Video-shows-Mosul-mosque's-images.jpg">
                            </div>
                        </div>
                     <div class="col-md-2" >
                         <div class="content">
                             <div class="para">
                                 <p>
                                   Video shows Mosul mosque's destruction'
                                 </p>
                             </div>
                             <div class="stext">
                                <a href="#" class="us">Middle East</a>
                            </div>
                         </div>
                     </div>
                        </div>
                    
                </div>
                <div class="tab-pane" id="Latest">
                       
                    <div class="row">
                      
                            <div class="col-md-2">
                                <div class="images">
                                    <img src="/images/ICYMI-A-RARE-rhino-images.jpg">
                                </div>
                            </div>
                         <div class="col-md-2" >
                             <div class="content">
                                 <div class="para">
                                     <p>
                                      ICYMI: A rare rihino and rare 'steaks'
                                     </p>
                                 </div>
                                 <div class="stext">
                                    <a href="#" class="us">World</a>
                                </div>
                             </div>
                         </div>

                         <div class="col-md-2">
                            <div class="images">
                                <img src="/images/packed-streets-as-soho-reopen-images.jpg">
                            </div>
                        </div>
                     <div class="col-md-2" >
                         <div class="content">
                             <div class="para">
                                 <p>
                                   Packed streets Soho pubs reopen
                                 </p>
                             </div>
                             <div class="stext">
                                <a href="#" class="us">UK</a>
                            </div>
                         </div>
                     </div>
                    </div>
                
            </div>
                </div>
            </div>
           </div>
        </div>
    </section>

    <section class="global">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h2>GLOBAL TRADE</h2>
                    </div>
                    <div class="content">
                        <div class="images">
                            <div class="sub">
                                <h3>The fashion labels whose clothes are made by prisoners</h3>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">BUSINESS</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title">
                        <h2>TECHNOLOGY OF BUSINESS</h2>
                    </div>
                    <div class="content">
                        <div class="boss">
                            <div class="sub">
                                <h3>How much does your boss need to know about you?</h3>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">BUSINESS</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
           
        </div>
    </section>
    <section class="world">
        <div class="container">
            <div class="title">
               <h2>World in Pictures</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="images">
                        <div class="content">
                            <div class="ti">
                                <h3>Friends embrace 'Super Saturday' as pubs and bars reopen</h3>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">UK</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="joy">
                        <div class="content">
                            <div class="ti">
                                <h3>In pictures: England enjoys lockdown easing</h3>
                            </div>
                            <div class="stext">
                                <a href="#" class="us">IN PICTURE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<%- include('partials/footer') %>