<%- include('partials/header') %>

<div class="breaking">
    <section class="states">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="title">
                            <a href="#"><h1>Don't go out without face covering - science body</h1></a>
                        </div>
                        <div class="para">
                            <p>
                                The UK is "way behind" on covering faces to limit the spread of Covid-19, says the Royal Society.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <div class="images">
                            <img src="/images/dont-go-out-without-face-covering-images.jpg">
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="imag">
                            <img src="/images/tiktok-go-exit-Hong-kong-images.jpg">
                        </div>
                        <div class="tik">
                            <a href="#"><h3>TikTok to exit Hong Kong 'within days'</h3></a>
                        </div>
                        <div class="panda">
                            <p>
                                The move by the short-form video app comes after China imposed its new security law on the city.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="imag">
                            <img src="/images/Looking-for-answers-where-covid-19-images.jpg">
                        </div>
                        <div class="tik">
                            <a href="#"><h3>Looking for answers where Covid-19 outbreak began</h3></a>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="imag">
                            <img src="/images/Iran's-female-gamers-and-images.jpg">
                        </div>
                        <div class="tik">
                            <a href="#"><h3>Iran's female gamers and the fight to stay online</h3></a>
                        </div>
                        <div class="panda">
                            <p>
                               There's been a lockdown gaming boom - but in Iraan it's been difficult to stay connected.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="imag">
                            <img src="/images/charge-filed-against-white-images.jpg">
                        </div>
                        <div class="tik">
                            <a href="#"><h3>Charge filed against white Central Park 911 caller</h3></a>
                        </div>
                        <div class="panda">
                            <p>
                                Amy Cooper was shown on video falsely claiming that a black birdwatcher had threatened her life.
                            </p>
                        </div>
                    </div>
                </div>
              
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>Japan's household spending sliumps at record rate</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>UK to offfer insulation grants for 'green recovery</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>Street traders losing 'right to shade' under trees</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>Spanish study cast doubt on herd immunity</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>Nascar driver in defiant tweet over Trump's 'hate'</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="content">
                        <div class="japan">
                            <a href="#"><h3>Facebook and Google 'pause' Hong Kong police help</h3></a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>


    <section class="must">
        <div class="container">
            <div class="title">
                <h2>Must See</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <div class="images">
                            <img src="/images/Ennio-morricone-life-images.jpg">
                        </div>
                        <div class="title">
                          <a href="#"><h3>Ennio Morricone's life in pictures</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/BBC-world-News-TV-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>BBC world News TV</h3></a>
                                    </div>
                                    <div class="parg">
                                        <p>
                                            The latest global news, sport, weather and documentaries
                                        </p>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Five-things-you-should-konw-about-jeff-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Five things you should know about Jeff Bezos</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Masks-on-to-see-the-Mona-Lisa-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Masks on to see the Mona Lisa as Louvre reopens</h3></a>
                                    </div>
                                   
                                </div>
                               
                            </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Harry-and-Meghan-Past-has-to-be-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Harry and Meghan: 'Past has to be acknowledged'</h3></a>
                                    </div>
                                   
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/The-town-divided-by-black-live-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>The town divided by Black Lives Matter</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Meet-the-socially-distant-robot-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Meet the socially distant robot scientist</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                          
                        </div>
                        
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="must">
        <div class="container">
            <div class="title">
                <h2>Full Story</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <div class="images">
                            <img src="/images/life-saving-covid-19-images.jpg">
                        </div>
                        <div class="title">
                          <a href="#"><h3>'Life-saving' Covid-19 drugs sold on black market</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/what-is-buonic-plague-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>What is Bubonic plague?</h3></a>
                                    </div>
                                   
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/what Donald Trump gets wrong-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>What Donald Trump gets wrong about Somalia</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Disases-detectives-track-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Disease detectives track an invisible culprit</h3></a>
                                    </div>
                                   
                                </div>
                               
                            </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/My terrifying-run-in with-doanld-trumps-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>My 'terrifying' run-in with Donald Trump's Twitter</h3></a>
                                    </div>
                                   
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/Horrible-offices-look-to-tempt-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>'Horrible' offices look to tempt back workers</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="content">
                                    <div class="im">
                                        <img src="/images/chinses-workers-fear-for-job- as-images.jpg">
                                    </div>
                                    <div class="tig">
                                        <a href="#"><h3>Chinses workers fear for jobs as coronvairus bites</h3></a>
                                    </div>
                                </div>
                               
                            </div>
                          
                        </div>
                        
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<%- include('partials/footer') %>