<%- include('partials/header') %>

<div class="books">
    <section class="reads">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="small">
                            <p>Books</p>
                        </div>
                        <div class="title">
                            <a href="#"><h1>The challenging reads we need right now</h1></a>
                        </div>
                        <hr>
                        <div class="sub">
                            <a href="#"><h2>The books that can help us focus our attention</h2></a>
                        </div>
                        <div class="btn">
                            <a href="#" class="more">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                   
                  
                </div>
                <a href="#picks" class="btn header-link"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </section>

    <section class="editors" id="picks">
        <div class="container">
            <div class="main text-center">
                <a href="#"><p>EDITOR'S PICKS</p> </a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="images">
                            <img src="/images/Groundhog-Day-images.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content you">
                        <div class="small">
                            <p>FILM</p>
                        </div>
                        <div class="title">
                            <h2>Groundhog Day meet Bridesmaid</h2>
                        </div>
                        <div class="para">
                            <em>By Caryn james</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/The-best-fims-of-2021-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">FILM</a>
                        </div>
                        <div class="tag">
                            <h3>The best films of 2020 so far</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By Nicholas Barber and Caryn James</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/My-Happy-place-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">MY HAPPY PLACE</a>
                        </div>
                        <div class="tag">
                            <h3>The perfect crime drama to watch now</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By fiona Mountford</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/dusty-springfield-remarkable-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">MUSIC</a>
                        </div>
                        <div class="tag">
                            <h3>Dusty Springfield's remarkable comeback</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By Nick Levine</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="design">
        <div class="container">
            <div class="content text-center">
                <div class="para">
                    <p>DESIGNED</p>
                </div>
                <div class="title">
                    <h2>How knitting became cool</h2>
                </div>
            </div>
        </div>
    </section>



    <section class="editors">
        <div class="container">
            <div class="main text-center">
                <a href="#"><p>HOT TOPICS</p> </a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="images">
                            <img src="/images/why-the-apocalypse-could-imags.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content you">
                        <div class="small">
                            <p>FILM</p>
                        </div>
                        <div class="title">
                            <h2>Why the apocalypse could be beautiful</h2>
                        </div>
                        <div class="para">
                            <em>By Al Horner</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/the-film-that's-saved-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">CULT FILMS</a>
                        </div>
                        <div class="tag">
                            <h3>The film that's saved people's lives</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By Larushka Ivan-Zadeh</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/remarkable-photo-of-people-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">100 YEAR LIFE</a>
                        </div>
                        <div class="tag">
                            <h3>Remarkable photos of people in nature</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By Andrew Dickson</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="pic">
                            <img src="/images/The-most-pioneering-queen-images.jpg">
                        </div>
                        <div class="sma">
                            <a href="#" class="fg">MUSIC</a>
                        </div>
                        <div class="tag">
                            <h3>The most pioneering queen of pop</h3>
                        </div>
                        <hr>

                        <div class="itaclic">
                            <em>By Nick Levine</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cath">
        <div class="container">
            <div class="title text-center">
                <p>DESIGN</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/How-knitting-became-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>FASHION</p></a>
                        </div>
                        <div class="title">
                            <h2>How knitting became cool</h2>
                        </div>

                        <hr>

                        <div class="last">
                            <em>Cultue</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/the-global-story-of-dutch-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>DESIGN</p></a>
                        </div>
                        <div class="title">
                            <h2>The global story of a Dutch icon</h2>
                        </div>

                        <hr>

                        <div class="last">
                            <em>By Cath Pound</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/A-new-spin-on-the-dream-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>ARCHITECTURE</p></a>
                        </div>
                        <div class="title">
                            <h2>A new spin on dream country house</h2>
                        </div>

                        <hr>

                        <div class="last">
                            <em>By Clare Dowdy</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/The-prairie-look-that-keep-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>PASHION</p></a>
                        </div>
                        <div class="title">
                            <h2>The prairie look that keeps coming back</h2>
                        </div>

                        <hr>

                        <div class="last">
                            <em>By Addison Nugent</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<br>
    <section class="around">
        <div class="container">
            <div class="title text-center">
                <p>DESIGN</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/The-people-who-imagine-disasters-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>FUTURE</p></a>
                        </div>
                        <div class="title">
                            <h2>The people who imagine disasters</h2>
                        </div>

                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/Is-this-the-supermarket-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>WORKLIFE</p></a>
                        </div>
                        <div class="title">
                            <h2>Is this the supermarket of the future?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="images">
                            <img src="/images/The-thai-way-to-relieve-images.jpg">
                        </div>
                        <div class="para">
                            <a href="#"><p>TRAVEL</p></a>
                        </div>
                        <div class="title">
                            <h2>The Thai way to relieve discomfort</h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>


<%- include('partials/footer') %>