<%- include('partials/header') %>


<div class="sport">
    <section class="free">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/I-hope-stokes-catains-like-he-plays-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>I hope Stokes captains like he plays - Agnew column</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/clash-between-spurs-team-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Clash between Spuers team-mates Lloris & Son 'beautiful'-Mourinho</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/super-bowl-mvp-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Super Bowl MVP mahomes signs 10-years deal with Chiefs 'worth $503m'</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/nascar-driver-wallace posts-images.webp">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Nascar driver Wallace posts defiants tweet over Trump's 'hate'</h3></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/west-Indies-must-in-four-days.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>West Indies must win in four days because they won't last five - Lara</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/vote-for-your-favorite-wimbledon-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Vote for your favourite Wimbledon's women's final</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/mourinho-claims-200th-premier-league.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Mourinho claims 200th Premier League win as Tottenham beat Everton</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/who-might-interesting-real-&-Barca-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Who 'might be interesting Real & Barca'? Find out Garth Crooks' team of the week</h3></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/Eubank-jr-open-to-canelo-fight-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Eubank Jr open to Canelo fight</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/it-shows-we-care-mourinho-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>'It shows we care'- Mourinho 'guilty' but pleased after Lloris-Son spat</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/bust-up-with-son-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Bust-up with Son 'part of football' - Lloris</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/ferrari-bring-forward-car-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>Ferrari bring forward car upgrades</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
     
    </section>



    <section class="free">
        <div class="container">
            <div class="title">
                <h2>Insight:Must-read sporting stories</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/The-16year-old-images.png">
                        </div>
                        <div class="title">
                            <a href="#"><h3>The 16-year-old set to rule the tennis world</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/the black american pioneer-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>The black American pioneer who could not change his sport</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/how-Klopp-turned-live-pool-images.jpg">
                        </div>
                        <div class="title">
                            <a href="#"><h3>How Klopp turned Liverpool into title winners - the inside story</h3></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content">
                        <div class="images">
                            <img src="/images/he-committed-heninous crime-its absurd.png">
                        </div>
                        <div class="title">
                            <a href="#"><h3>'He committed a heinous crime, it's absurd he can be an idol'</h3></a>
                        </div>
                    </div>
                </div>
            </div>


          


           <hr>
          
        </div>
    </section>

    <section class="top">
            <div class="container">
                <div class="title">
                    <h2>More top stories</h2>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="content">
                            <div class="images">
                                <img src="/images/Bremen-aviod-Bundesliga-images.jpg">
                            </div>
                            <div class="title">
                                <a href="#"><h3>Bremen avoid Bundesliga relegation on away goals</h3></a>
                            </div>
                            <div class="para">
                                <p>
                                    Former Bundesliga champions Werder Bremen avoid relegation from the German top flight on away goals after a 2-2 draw at second divison Heidenheim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                       
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/messi-will-end-images.jpg">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>'Messi will end his career at Barcelona'</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/why-Lusiz-new-contract-is -images.jpeg">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>Why Lusiz's new contract is smart move for Arsenal</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/six-teams-five-fames-images.png">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>Six team, five games - who will be relegated from the Premier League?</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/revised-system-for-men's-images.jpg">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>Revised system for men's tennis rankings</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/Zanardi-still-in-'severe'-images.jpg">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>Zanardi still in 'servere' condition after third operation</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="con">
                                            <div class="images">
                                              <img src="/images/front-runner-to-also-rans-image.jpg">
                                            </div>
                                            <div class="title">
                                                <a href="#"><h3>Front runner to also-rans:what happened to Ferrari?</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <hr>
            </div>
        
    </section>
</div>



<%- include('partials/footer') %>