.phone{
    margin: 1rem 0 3rem 0;
    background-image: url(/images/hello-i-m-nik-F-u45v3k5ik-unsplash-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 28rem;
}